@font-face {
  font-family: "iconfont"; /* Project id 4458457 */
  src: url('iconfont.woff2?t=1710554927042') format('woff2'),
       url('iconfont.woff?t=1710554927042') format('woff'),
       url('iconfont.ttf?t=1710554927042') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon__liuchengtu:before {
  content: "\e618";
}

.icon-jianqie:before {
  content: "\e630";
}

.icon-fangda:before {
  content: "\e627";
}

.icon-baocun:before {
  content: "\e628";
}

.icon-suoxiao-:before {
  content: "\e629";
}

.icon-quanping:before {
  content: "\e62a";
}

.icon-niantie:before {
  content: "\e62b";
}

.icon-shanchu:before {
  content: "\e62c";
}

.icon-zhongzuo:before {
  content: "\e62d";
}

.icon-chexiao:before {
  content: "\e62e";
}

.icon-fuzhi:before {
  content: "\e62f";
}

.icon-quxiaozuhe:before {
  content: "\e633";
}

.icon-zuhe:before {
  content: "\e634";
}

.icon-tuoyuan:before {
  content: "\e635";
}

.icon-quxian:before {
  content: "\e636";
}

.icon-juxing:before {
  content: "\e637";
}

.icon-sousuo:before {
  content: "\e63c";
}

.icon-zhiyudingceng:before {
  content: "\e631";
}

.icon-zhiyudiceng:before {
  content: "\e632";
}

.icon-shangyiyiceng:before {
  content: "\e625";
}

.icon-xiayiyiceng:before {
  content: "\e626";
}

