// SFEditor 核心样式类
.sf-editor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #EAECEE;

    // svg canvas 绘制元件核心区
    &-box {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        // 用于绘制 graph
        &-graphs {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &-main {
                position: absolute;
                left: 0;
                top: 0;

                // graph 元件
                &-item {
                    cursor: move;
                }

                // 链接锚点
                &-links,
                &-formats {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                }

                &:hover &-links {
                    display: block;
                }

                &-links {
                    z-index: 2;
                    display: none;

                    div {
                        pointer-events: all;
                        cursor: crosshair;
                        border: solid transparent 1px;
                        &:hover{
                            background-color: rgb(6, 123, 239) !important;
                        }
                    }
                }

                // 形变锚点
                &-formats {
                    z-index: 1;
                    display: none;

                    div {
                        pointer-events: all;
                        cursor: crosshair;
                        border: solid transparent 1px;
                    }

                    // 旋转锚点
                    .rotate {
                        // background-color: red;
                        background: url('/public/rotate.svg') 100% 100% no-repeat;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        height: 16px;
                        width: 16px;
                        cursor: url('/public/rotate.svg'), auto;
                    }
                }

                // 可编辑 div
                &-contenteditable {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    div {
                        &:focus-visible {
                            outline: none;
                        }

                        height: auto;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            // 处理选中样式
            .selected {
                .sf-editor-box-graphs-main-links {
                    display: none;
                }

                .sf-editor-box-graphs-main-formats {
                    display: block;
                }

            }
        }

        // canvas => 用于绘制 网格、小圆点、水印部分
        &-canvas {
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -99;
        }

        // 右键菜单
        &-contextmenu {
            z-index: 999;
            width: 220px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fff;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);

            // 右键菜单 控制svg模式 元件不显示
            .editor {
                .graph-item {
                    display: none !important;
                }
            }

            &-main {
                padding: 5px;

                // 分割线
                &-line {
                    border-bottom: 1px solid #e9edf2;
                    margin: 2px;
                }

                // 子元素
                &-item {
                    height: 32px;
                    line-height: 32px;
                    border-radius: 5px;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span:nth-child(2) {
                        color: #a6b9cd;
                        font-size: 12px;
                    }

                    &:hover {
                        background-color: #f3f5f9;
                        cursor: pointer;
                    }
                }
            }
        }

        // 框选模态框
        &-selectmask {
            display: none;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgb(79, 130, 232);
            width: 0;
            height: 0;
            opacity: 0.3;
            z-index: 999;
            pointer-events: none
        }



    }

    // 元件库
    &-catalog {
        border-right: solid #ccc 1px;
        background-color: #fff;
        width: 220px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        // 分割线
        .line {
            border-top: solid #ccc 1px;
            margin: 10px 0;
        }

        // title 前面的三角形
        .icon {
            width: 0;
            height: 0;
            position: absolute;
            left: 5px;
            border-top: 4px solid #212930;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }

        // 关闭状态下，进行旋转角度即可
        .icon.close {
            transform: rotate(-90deg)
        }

        &-title {
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;
            font-size: 14px;
            font-weight: 700;
            color: #212930;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0;
            padding: 4px 0 4px 20px;
        }

        &-item {
            padding: 5px 10px;
            display: none;
        }

        .more {
            width: 70%;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: auto;
            border-radius: 4px;
            overflow: hidden;
            padding: 2px 4px;
            color: #fff;
            background-color: #3080E9;
            border: 1px solid #3080E9
        }
    }

    // 顶部操作区
    &-operation {
        background-color: #fff;
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;

        i {
            position: relative;
        }

        .line {
            border-right: solid #ccc 1px;
            margin: 0 5px;
            height: 80%;
            width: 1px;
        }

        &>div {
            flex: 1;
            display: flex;
            align-items: center;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &>div {
                height: 100%;
                display: flex;
                align-items: center;

            }



            .left {
                img {
                    height: 30px;
                    width: 30px;
                }

                span {
                    margin: 0 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 70%;
                    padding: 0 6px;
                    font-size: 13px;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: #dfe2e5;

                    }
                }
            }

            .right {
                padding-right: 10px;

                img {
                    height: 28px;
                    width: 28px;
                    cursor: pointer;
                    border-radius: 50%;
                }

                i {
                    cursor: pointer;
                    margin: 0 20px;
                }

                &-shear {
                    height: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    color: #fff;
                    background-color: #3080E9;
                    border: 1px solid #3080E9;
                    font-size: 13px;
                    border-radius: 4px;
                    padding: 0 12px;
                    min-width: 42px;
                    cursor: pointer;
                }
            }

        }

        &-bottom {
            border-bottom: solid #ccc 1px;

            i {
                cursor: pointer;
                margin: 0 5px;
                color: #212930;
            }
        }

    }

    // 底部功能区
    &-footer {
        z-index: 99;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: solid #ccc 1px;
        background-color: #fff;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
            cursor: pointer;
        }

        .line {
            border-right: solid #ccc 1px;
            height: 80%;
            width: 1px;
        }

        &>div {
            display: flex;
            align-items: center;
            height: 100%;

            * {
                margin: 0 5px;
            }
        }

        &-left {
            display: flex;

            span {
                background: rgba(0, 0, 0, .1);
                padding: 0 10px;
                border-radius: 4px;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                user-select: none;
            }
        }

        &-right {
            .pageScale {
                cursor: pointer;
                width: 45px;
                text-align: center;
            }
        }
    }

}